PORT=3000
MYSQL_ROOT_PASSWORD=password
MAILGUN_API_KEY=mailgun_api_key
MAILGUN_DOMAIN=domain.com
MAILGUN_HOST=https://api.eu.mailgun.net
MAILGUN_FROM_EMAIL=postmaster@domain.com
JWT_SECRET=top_10_secrets
DATABASE_URL=postgresql://url
